[submodule "themes/noteworthy"]
	path = themes/noteworthy
	url = https://github.com/kimcc/hugo-theme-noteworthy/
[submodule "content/catalog"]
	path = content/catalog
	url = https://github.com/eissar/catalog
